<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color:#e1d9f9;
           color: white;
           text-align: center;
        }
        </style>
    
    <title>Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <!-- <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="#">BRAND</a></li>
                    <li><a class="navbar-link" href="#">ADMIN</a></li>
                    <li><a class="navbar-link" href="#">OTHER</a></li>
                </ul>           
            </div>
        </div>
    </nav> -->


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'admin:index' %}">ADMIN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">BRAND <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'basic_app:other' %}">OTHER</a>
                </li>
                
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>

    <div class="container">
        {% block body_block %}
            <!-- ANTHING OUTSIDE OF THIS WILL BE INHERITED IT YOU EXTENDS -->
        {% endblock %}
    </div>

    <footer class="page-footer footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© {% now "Y" %} Copyright:
          <h3>DJANGO FRAMEWORk</h3>
        </div>
        <!-- Copyright -->
      
      </footer>
    
</body>
</html>